<%= form_with(model: product) do |form| %>
        
  <% if flash[:alert] %>
    <div class="alert" style="color: red; font-weight: bold;">
      <%= flash[:alert] %>
    </div>
  <% end %>


  <div>
    <h4>Product Name</h4>
    <%= form.text_field :name %>
  </div>

  <div>
    <h4>Product Description</h4>
    <%= form.text_field :description %>
  </div>

  <div>
    <h4>Product Price</h4>
    <%= form.text_field :price %>
  </div>

  <div>
    <h4>Product Stock</h4>
    <%= form.number_field :stock %>
  </div>

  <div>
    <h4>Product Category</h4>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
  </div>

  <div>
    <h4>Product Image</h4>
    <%= form.file_field :image %>
  </div>

  <%if action_name == "new"%>
    <div class="SingLogIn-button" style="display: flex">
      <%= link_to "<button>Back to products</button>".html_safe, "javascript:history.back()", style:"width:47.5%;" %>
      <%= form.submit "Submit", style:"width:100%" , class:"submit", style:"width:47.5%;" %>
    </div>
  <% else %>
    <div>
      <%= form.submit "Submit", style:"width:100%" , class:"submit" %>
    </div>

    <hr>
    <div class="SingLogIn-button" style="display: flex">
      <%= link_to "<button>Back to products</button>".html_safe, "javascript:history.back()", style:"width:47.5%;" %>
      <%= link_to "<button>Show this product</button>".html_safe, @product, style:"width:47.5%;"%> 
    </div>
  <% end %>
  
<% end %>
