<p style="color: green"><%= notice %></p>
<% products.each do |product| %>
  <div class="product-item">
    <%= image_tag product.image, class:"product-image"%>
    <h3><%= product.name%></h3>
    <p><%= product.description%></p>
    <div class="price">$ <%= product.price%></div>
    <%= link_to "<button>View Product</button>".html_safe, product%>
  </div>
<% end %>
