<script>
  document.addEventListener("turbo:load", function() { // Escucha turbo:load para cada navegación
    let lastScrollTop = 0;
    const header = document.querySelector("header");
    const scrollThreshold = 90; // Ajusta el umbral de sensibilidad

    // Restablece la posición del header al cargar una nueva página
    header.style.top = "0";

    // Elimina cualquier listener previo de scroll para evitar múltiples llamadas
    window.removeEventListener("scroll", handleScroll);

    // Define la función de scroll
    function handleScroll() {
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (Math.abs(scrollTop - lastScrollTop) > scrollThreshold) {
        if (scrollTop > lastScrollTop) {
          // Oculta el header al hacer scroll hacia abajo
          header.style.top = "-150px"; // Ajustado a -150px según tu preferencia
        } else {
          // Muestra el header al hacer scroll hacia arriba
          header.style.top = "0";
        }
        lastScrollTop = scrollTop;
      }
    }

    // Agrega el listener de scroll
    window.addEventListener("scroll", handleScroll);
  });

</script>


<header style="position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;">
  <div class="logo-container" style="display: flex; justify-content: center; align-items: center; text-align:center"> 
    <%= link_to root_path do%>
      <%= image_tag "logo.png", style:"height: 100px; padding:15px", class: "logo-link"%>
    <% end %>
  </div>
  <div id="left_header">
    <h1>Pacific Northwest X-Ray Inc.</h1>
    <div class="search-bar">
      <input type="text" placeholder="Search for X-Ray products..." id="searchbar_input">
    </div>
  </div>

  <div id="rigth_header">
  <% unless (controller_name == "users" && action_name == "new") || (controller_name == "sessions" && action_name == "new") %>
    <% if Current.user %>
      <p style="margin:0px">Welcome:  <%= Current.user.username%></p>
      <%= link_to "<button>LogOut</button>".html_safe, session_path(Current.user.id), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure you want to log out?" 
      }, class: "logo-link", style: "color: white; text-align:center;" %>
    <% else %>
      <%= link_to "<button>SignIn</button>".html_safe, new_user_path, style:"color: white" , class: "logo-link"%>
      <p style="margin:0px">OR</p>
      <%= link_to "<button>LogIn</button>".html_safe, new_session_path, style:"color: white", class: "logo-link"%>
    <% end %>
  <% end %>
  </div>
</header>

